<a href="https://colab.research.google.com/github/InciongHarleyevangel/CPE-21A-PLD-1-1/blob/main/INCIONG_Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Boolean Operators**

In [70]:
a = 69
b = 13
c = 45

print(a>b)
print(69==13)

c = print(a==b)

c

True
False
False

In [71]:
print(bool("Python"))
print(bool('78'))
print(bool(True))
print(bool(False))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool({}))
print(bool([]))

True
True
True
False
True
False
False
False
False

In [15]:
def myFunction(): return True
print(myFunction())

True

In [72]:
def myFunction(): return True

if myFunction():
  print("True")
else:
  print("False")

True

In [73]:
print (10>9)

x = 15 #0000 1111
y = 16 #0001 0000
print(a==b)
print(15==15)
print(b!=b)

True
False
True
False

# **Python Operators**

In [74]:
print(20+4)
print(20-4)
print(20*4)
print(20/4)
print(20%4)
print(20//3)
print(20**4)

24
16
80
5.0
0
6
160000

# **Bitwise Operators**

In [75]:
a = 60 #0011 1100
b = 13 #0000 1101

print(a&b)
print(a|b)
print(a^b)
print(-a)
print(-b)
print(a<<2)
print(a>>2)
print(b<<2)
print(b>>2)

12
61
49
-60
-13
240
15
52
3

# **Assignment Operator**

In [76]:
w=10
w+=3
print(w)

x=10
x-=3
print(x)

y=10
y*=3
print(y)

z=10
z/=3
print(z)

13
7
30
3.3333333333333335

# **Logical Operator**

In [77]:
r = 37
s = 34

print(r<s and r==s)
print(r>s or r==s)
print(not(r==s and r>s))

False
True
True

# **Identity Operators**

In [78]:
print(a is b)
print(a is not b)

False
True