<a href="https://colab.research.google.com/github/InciongHarleyevangel/CPE-21A-PLD-1-1/blob/main/INCIONG_Python_List%2C_Tuples%2C_Sets%2C_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python List**

In [21]:
pi = 3.1415926535897
euler = 2.71828
varlist = [3, 4, 'D', 'F', 'Xiao!', pi, euler]

print(varlist[4])
print(varlist[0])
print(varlist[5])

varlist.append('Programming')   #Adds the string to the list
print(varlist[7])             

varlist.remove(pi)              #Removes the value of pi on the list
print(varlist[5])

len(varlist)                    #Counts the number of values on the list

Xiao!
3
3.1415926535897
Programming
2.71828

7

## **Python Dictionary**

In [20]:
#Python Dictionary

names1 = 'Kylie and Jenny'
deciVal = 4.768
vardict = {
    "name" : [names1, 'names2'], 
    "age" : 25, 
    '78' : deciVal, 
    names1 : 'Route 66'}

print(vardict['age'])
print(vardict['78'])
print(vardict[names1])

print(vardict['name'][0])   #Prints out the first value on the list under 'name'
print(vardict['name'][1])   #Prints out the second value on the list under 'name'

len(vardict)                #Counts the length of dictionary

25
4.768
Route 66
Kylie and Jenny
names2

4

## **List Generators and Comprehension**

In [19]:
thislist = [0,1,2,3,4]
print(thislist)

thislist = range(0, 5, 2)           #Range starting from 0, stops at 5, and steps by 2
print([var for var in thislist])

thislist = range(1, 4)                 #Range starting from 1, stops at 4
print([var for var in thislist])

[0, 1, 2, 3, 4]
[0, 2, 4]
[1, 2, 3]

## **Slicing**

In [18]:
VarList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(VarList[:5])    #lists numbers until the 4th value
print(VarList[5:])    #lists numbers from the 5th value
print(VarList[:-2])   #lists all numbers except the last 2 values
print(VarList[-2:])   #lists the last 2 values
print(VarList[2:-2])  #lists numbers from 2nd value to the last not including the last 2 values
print(VarList[2:9:2]) #lists numbers from 2nd value to 9th value with 2 steps

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7, 9]