<a href="https://colab.research.google.com/github/InciongHarleyevangel/CPE-21A-PLD-1-1/blob/main/INCIONG_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [6]:
if 54>29:
  print("54 is greater than 29")  #This is a comment

54 is greater than 29

Variable Declaration

In [27]:
#variable with a single value

x=5
y=45
if x < y:
  print("x is less than y")
else:
  print("x is greater than y")

#variable with multiple values
a,b,c = 25,50,65

print("The value of a is", a)
print("The value of b is", c)
print("The value of c is", b)

#multiple variables with single value

d=e=f= "Programming"
print(e)
print(f)
print(d)

x is less than y
The value of a is 25
The value of b is 65
The value of c is 50
Programming
Programming
Programming

Casting and Type() function

In [26]:
g = int(65)       #integer
h = float(65)     #decimal/ fractional part
i = "Harley"      #string

print(g)
print(h)
print(i)

print(type(g))
print(type(h))
print(type(i))

65
65.0
Harley
<class 'int'>
<class 'float'>
<class 'str'>

Double or single quote

In [16]:
name1 = 'Harley'
name2 = "Inciong"

print(name1)
print(name2)

Harley
Inciong

Case sensitive

In [30]:
m = "logic and design"
M = "Programming"

print(M)
print(m)

Programming
logic and design

Output variable

In [31]:
u = 'age'
U = "address"
print ("Please input your" + " " + u)
print ("Please input your" + " " + U)

Please input your age
Please input your address